<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Orbitron' rel='stylesheet'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
    <h1>VOICE</h1>
<style>
    body {
        font-family: 'Orbitron';font-size: 22px;
        background-color: '#27AAE1';
        text-align: center;
    }

    h3{
        font-family:"Montserrat"; font-size:22px;
    }
    
</style> 
    {% block head %}
    {% endblock %}
</head>
<body>
    {% block body %}{% endblock %}
</body>
</html>