{% extends 'base.html' %}
{% block head %}
{% endblock %}
    {% block body %}
    <body style="background-color: #27AAE1; color:whitesmoke">
        <form>
            <br><h3 style="size:25px; font-family:'Ubuntu'">Room No: </h3><br>
            <input text="text" id="roomno" name="roomno" style="padding:10px; border:0; box-shadow:0 0 15px 4 px rgba(0,0,0,0.06); border-radius:10px; width: 300px; "><br>
            <input type="submit" value="Submit" placeholder="Submit">
        </form>
    </body>
    {% endblock %}
